mainmenu "My Blinky Project"

menu "App Configuration"
    config BLINK_SLEEP_MS
        int "Sleep time in milliseconds"
        default 1000
        range 100 5000
        help
            Time to sleep between toggling the LED.

    config WIFI_SSID
        string "APP_WIFI_SSID"
        default ""
        help
            SSID for station connection.

    config WIFI_PSK
        string "APP_WIFI_PSK"
        default ""
        help
            WPA2 passphrase for station connection.
endmenu

source "Kconfig.zephyr"